@import url("common.css");


main {
  grid-template: "art1 art1 art2 art3" 1fr
    "art4 art5 art5 art3" 1fr / 1fr 1fr 1fr 1fr;
  
  max-width: 98vw;
  width:  1300px;
  max-height: 90vh;
  height: 700px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

  

